<div class="panel panel-info" ng-hide="userIsOnline()">
  <div class="panel-heading">
    <h3 class="panel-title">Post to {{channel.humanizedName}}</h3>
  </div>
  <div class="panel-body">
    <form ng-submit="newEntry()">
      <div class="form-group">
        <label for="PinContentId">Content</label>
        <textarea class="form-control" id="PinContentId" rows="3" ng-model="entry.msg" ng-disabled="isSubmitting" required></textarea>
      </div>
      <button type="submit" class="btn btn-info" ng-disabled="isSubmitting">Submit <i ng-show="isSubmitting" class="fa fa-spinner fa-spin"></i></button>
    </form>
  </div>
</div>
